@model MemberQuery.Models.QueryResults
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
				<li><a href="@Url.Action("PredictResults", "Home")">Predict Results</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container" role="main">
	<div class="row">
		<h1>Health Equity Member Query</h1>
		<h3>Question:</h3>
		<h3>We have provided Claim data for our members and we want you to predict when our members need to add money to their HSA accounts.</h3>
		<h3>You can include any other data sources you like to make a case to show why people should add money to their HSA accounts at a given time.  Using Age/location can make a difference in the prediction as well.</h3>
	</div>

	<div class="row">
		<form role="form" action="@Url.Action("Index")" method="GET">
			<div class="form-group">
				<label for="birthYear">birth year</label>
				<input type="text" class="form-control" placeholder="birth year" name="birthYear" />
			</div>
			<div class="form-group">
				<label for="state">state</label>
				<input type="text" class="form-control" placeholder="state" name="state" />
			</div>
			<div class="form-group">
				<label for="previousCpts">previous cpts</label>
				<input type="text" class="form-control" placeholder="previous cpts (comma separated, blank for none)" name="previousCpts" />
			</div>
			<div class="form-group">
				<button class="btn btn-default" type="submit">query</button>
			</div>
		</form>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<table class="table-condensed">
				<tbody>
					<tr>
						<th>Suggested Amount</th>
						<td>@Model.Results.MinimumSuggestedAmount</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		@{
			<div class="col-lg-12">
				<table class="table-condensed">
					<thead>
						<tr>
							<th>From</th>
							<th>To</th>
							<th>Probability</th>
							<th>Emission</th>
							<th>Expected Value</th>
							<th>Highest Probability</th>
							<th>Lowest Probability</th>
							<th>Standard Deviation</th>
							<th>Min Amount</th>
							<th>Max Amount</th>
							<th>Average Amount</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var transitionEmission in this.Model.Results.TransitionEmissions)
			{
							<tr>
								<td>@transitionEmission.FromTransition</td>
								<td>@transitionEmission.ToTransition</td>
								<td>@transitionEmission.Probability</td>
								<td>@transitionEmission.Emission</td>
								<td>@transitionEmission.ExpectedValue</td>
								<td>@transitionEmission.HighestProbabilityAmount</td>
								<td>@transitionEmission.LowestProbabilityAmount</td>
								<td>@transitionEmission.StandardDeviation</td>
								<td>@transitionEmission.MinAmount</td>
								<td>@transitionEmission.MaxAmount</td>
								<td>@transitionEmission.AverageAmount</td>
							</tr>
			}
					</tbody>
				</table>
			</div>		
		}
	</div>
</div>
