@model MemberQuery.Models.PredictResults
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="@Url.Action("Index", "Home")">Home</a></li>
				<li><a href="@Url.Action("NewMemberPredictions", "Home")">Member Cached Balance Predictions</a></li>
				<li class="active"><a href="@Url.Action("PredictResults", "Home")">Gold Training Predictions</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container" role="main">
	<div class="row">
		<div class="col-lg-12">
			<table class="table-condensed">
				<thead>
					<tr>
						<th>Gold To Expected Average Variation</th>
						<th>Gold To Expected Standard Deviation</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>@(this.Model.GoldToExpectedAverageVariation)</td>
						<td>@(this.Model.GoldToExpectedStandardDeviation)</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	@{
		foreach (var result in this.Model.Predictions)
		{
		<div class="row">
			<div class="col-lg-12">
				<table class="table-condensed">
					<thead>
						<tr>
							<th>Gold Amount</th>
							<th>Expected Amount</th>
							<th>Gold To Expected Variation</th>
							<th>Gold To Expected Deviation</th>
							<th>Highest Probability</th>
							<th>Lowest Amount</th>
							<th>Highest Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@result.GoldAmount</td>
							<td>@result.ExpectedAmount</td>
							<td>@result.GoldExpectedVariation</td>
							<td>@result.GoldExpectedStandardDeviation</td>
							<td>@result.TrainAmount</td>
							<td>@result.TrainLowest</td>
							<td>@result.TrainHighest</td>
						</tr>
						<tr>
							<th>Path</th>
						</tr>
						<tr>
							<td colspan="7">
								@result.Path
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
		} 
	}
</div>
