<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Health Equity Predictions</title>
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.css")"/>
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-theme.css")"/>
	<style>
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
	</style>
	<script type="text/javascript"src="@Url.Content("~/Scripts/jquery-2.1.0.js")" ></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.1.0.js")"></script>
</head>
<body>
	@this.RenderBody()
</body>
</html>
